/*
Colors used:
#5fa4b3 green
#3c3875 plum
#60A3C7 blue
#4D5153; gray
*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    font-size: 15px;
    color: #4D5153;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

a {
    text-decoration: none;
    color: #4D5153;
    padding: 0 20px;
}

main {
  max-width: 1200px;
  margin: auto;
  padding-top: 56px;
}
header {
  text-align: unset;
}
header {
  padding: 10px 0 4px;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  box-shadow: 0 0 25px 0 #4D5153;
}

header * {
  display: inline;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}
/* nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
} */


body {
  position: relative;
  background-color: #60A3C7 ;
  color: #ffff;
  font-weight: 400;
  line-height: 1.75;
  font-family: 'Montserrat', serif;
  font-size: 12px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
    display: inline-block;
    background-color: #5fa4b3;
    color: #ffffff !important;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; 
    transition: 0.2s opacity;
  }

  .button:hover {
    opacity: 0.9; 
    text-decoration: none;
  }

  #hero {
    background-color: #78a1aa;
    padding: 0 50px;
  }

  #boomr {
   background-color: #77cfe2;
   text-align: center;
  }

  footer {
    background-color: #60A3C7;
    margin-top: 100px;
    text-align: center;
  }

  @media only screen and (min-width: 640px) {
  }

  @media (min-width: 1024px) {
  }

/* about page */
  .button-contact {
    display: inline-block;
    background-color: #5fa4b3;
    color: #ffffff !important;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; 
    transition: 0.2s opacity;
  }

  .button-contact:hover {
    opacity: 0.9; 
    text-decoration: none;
  }
  
  #about {
    text-align: center;
  }